<h3><%- pageTitle %></h3>

<a href="/admin/products/create" class="btn btn-info">Create New Product</a>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for (let index = 0; index < products.length; index++) { %>
            <tr>
                <td>
                    <img 
                        src="<%= products[index].image ? products[index].image : '/images/placeholder.svg' %>" 
                        alt="<%= products[index].title ? products[index].title : 'Product image' %>" 
                        class="product-image"
                    />
                </td>
                <td><%= products[index].title %></td>
                <td><%= products[index].description %></td>
                <td>PKR <%= products[index].price %></td>
                <td>
                    <%= products[index].category ? products[index].category.name : 'No Category' %>
                </td>
                <td>
                    <a href="/admin/products/edit/<%= products[index]._id %>" class="btn btn-warning">Edit</a>
                    <a 
                        href="/admin/products/delete/<%= products[index]._id %>" 
                        class="btn btn-danger" 
                        onclick="return confirm('Are you sure you want to delete this product?')"
                    >
                        Delete
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
