<h3>Edit Order</h3> 


<form action="/admin/orders/edit/<%= order._id %>" method="post">
  <div class="form-group">
    <label for="status">Status</label>
    <select name="status" id="status" class="form-control" required>
      <option value="Pending" <%= order.status === 'Pending' ? 'selected' : '' %>>Pending</option>
      <option value="Processing" <%= order.status === 'Processing' ? 'selected' : '' %>>Processing</option>
      <option value="Completed" <%= order.status === 'Completed' ? 'selected' : '' %>>Completed</option>
      <option value="Cancelled" <%= order.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success">Update Order</button>
</form>
